container_commands:
  01_install_dependencies:
    command: |
      bash -lc 'export NPM_CONFIG_PRODUCTION=false; npm ci --omit=optional --no-audit --no-fund'
    cwd: /var/app/staging
    leader_only: true
  02_run_migration:
    command: |
      bash -lc 'npm run db:migrate'
    cwd: /var/app/staging
    leader_only: true
  03_verify_migration:
    command: |
      bash -lc 'npm run db:migrate:verify'
    cwd: /var/app/staging
    leader_only: true
